* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    border: 4px solid;
    width: 320px;
    height: 440px;
    margin: 50px auto;
    border-radius: 15px;
    padding: 30px;
    background-color: aliceblue;
    border-color: black;
    display: block;
    text-align: center;
}

.three {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(244, 244, 250);
    margin-top: 1px;
    padding: 15px;
}

.Four {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 10px;
    padding: 15px;
}

.one {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: royalblue;
    color: rgb(244, 244, 250);
    padding: 20px;

}

.two {
    width: 250px;
    height: 50px;
    color: blue;
    text-align: center;
    text-decoration: underline;
}

.Five {
    width: 170px;
    height: 50px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(73, 225, 65);
    text-align: center;
}

.button:hover {
    background-color: rgb(187, 206, 187);
}